<%= form_with(model: post, data: { controller: "colors" }) do |form| %>

  <% if post.errors.any? %>
    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved</h2>
    <% post.errors.each do |error| %>
      <p><%= error.full_message %></p>
    <% end %>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :font_color, style: "display: block" %>
    <%= form.text_field :font_color, class: "font_color" %>
  </div>

  <div>
    <%= form.label :background_color, style: "display: block" %>
    <%= form.text_field :background_color, class: "background_color" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
